# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.pnp
.pnp.js

# production
client/build

# misc
.DS_Store
.env
client/test

npm-debug.log*
yarn-debug.log*
yarn-error.log*

client/node_modules
server/node_modules
